@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

:root {
    --cor1: #fafafa;
    --cor2: #ffffff;
    --cor3: #d3d3d3;
    --cor4: #8e8e8e;
    --cor5: #0095F6;
    --cor6: #385185;
    --cor7: #00376b;
}

body {
    background-color: var(--cor1);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cor2);
    height: 360px;
    width: 348px;
    padding: 10px 0px;
    margin-bottom: 10px;
    border: 1px;
    border-radius: 2px;
    border-color: var(--cor3);
    border-style: solid;
}

.login-area img {
    height: 51px;
    width: 175px;
    margin: 22px 85px 12px;
}

.login-area form {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}

.login-area input {
    border-radius: 2px;
    outline: none;
}

form [type="email"], [type="password"] {
    background-color: var(--cor1);
    height: 20px;
    width: 258px;
    margin: 0px 40px 6px 40px;
    padding: 9px 0px 7px 8px;
}

.button {
    height: 28px;
    width: 268px;
    margin: 8px 40px 8px 40px;
    border: 1px;
    border-radius: 2px;
    color: white;
    font-weight: bold;
    background-color: var(--cor5);
    cursor: pointer;
}

form p {
    display: flex;
    justify-content: center;
    height: 20px;
    width: 268px;
    margin: 10px 40px;
    font-size: 0.9rem
}

form p a {
    display: block;
    padding: 0px 50px;
    color: var(--cor6);
    font-size: 14px;
}

.forget a {
    font-size: 12px;
    color: var(--cor7);
}

.sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor2);
    height: 41px;
    width: 348px;
    margin: 0px 0px 10px 0px;
    padding: 10px 0px;
    border: 1px;
    border-radius: 2px;
    border-color: var(--cor3);
    border-style: solid;
}

.sign-up p{
    font-size: 14px;
}

.sign-up p a {
    color: var(--cor5);
    font-weight: bold;
}

.download-app {
    height: 102px;
    width: 350px;
}

.download-app p {
    display: flex;
    justify-content: center;
    height: 18px;
    width: 310px;
    margin: 10px 20px;
    font-size: 14px;
    line-height: 18px;
}

.download-app img {
    height: 40px;
    width: 136px;
    margin-right: 8px;
}

.download-img {
    display: flex;
    justify-content: center;
}

footer {
    padding: 0px 16px;
}

footer div {
    margin-bottom: 52px;
}

.footer-menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-menu > br {
    width: 100%;
    content: '';
}

.footer-menu a {
    display: block;
    font-size: 12px;
    margin: 0px 8px 12px;
    color: var(--cor4);
}

#copyright {
    font-size: 12px;
    color: var(--cor4);
}

@media (max-width: 875px) {
    .container #cellphone {
        height: 0px;
        width: 0px;
    }
}
